name: Renovate

on:
  schedule:
    # 毎月25日の日本時間午前3時に実行
    - cron: 0 18 24 * *

  workflow_dispatch:

jobs:
  renovate:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}

      - uses: renovatebot/github-action@v46
        with:
          configurationFile: .github/renovate.json5
          token: ${{ steps.generate-token.outputs.token }}
